/* 
    Fontes 
*/

@import url("https://use.typekit.net/bih4vih.css");

/* 
    Configurações Principais 
*/

:root {

    /* Cores */

     --cor-principal: #5c5c5c !important;
     --cor-principal-sombra: #f6bf27;
     --cor-secundaria: #616161;
     --cor-texto: #616161;
     --cor-complementar: rgb(254, 236, 203);
     --cor-complementar-sombra: rgb(210, 186, 142);
     --cor-tercearia: #ffd65c;
     --cor-cinza: #4f4f4f;
  
     --cor-suave: #F7F9FF;
     --cor-escura: #20385D;
     --cor-sombra: #284065;
     --cor-diferencial: #446BC4;
     --cor-tercearia-titulos: #B2BFE2;
     --cor-cinza-titulos: #BEBEBE;
  
    /* Container */
    --size-container: 1140px;
    --size-container-page: 960px;
    --size-container-small: 800px;
    --size-container-super: 1460px;
      
     /* Texto */
     --fonte-principal: acumin-pro-wide, sans-serif;
     
     /* Media Querys */
     --media-tablet: ;
     --media-mobile: 600px;

}


header {
    /* background-color gradient 58a96e to 2f6f40 */
    background: #58a96e;
    background: -moz-linear-gradient(top, #58a96e 0%, #2f6f40 100%);
    background: -webkit-linear-gradient(top, #58a96e 0%, #2f6f40 100%);
    background: linear-gradient(to right, #58a96e 0%, #2f6f40 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a96e', endColorstr='#2f6f40', GradientType=0 );
    color: white;
}

nav li a {
    color: #ffffff;
} 

.woocommerce-breadcrumb {
    background-color: var(--cor-principal);
}

.menu-pesquisa input {
    background-color: #649d74;
}

.shop-icons a {
    color: #ffffff;
}
.menu-icones a {
    color: #ffffff;
}